@import "../../convention/variables.css";

/*네비게이션 바*/
nav {
	position: sticky;
	width: 100%;
	height: 18rem;
	top: 0px;
	background: white;
	z-index: 1;
}
#nav-top {
	height: 8rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0 8rem 0 8rem;
	border-bottom: 1px solid #ebebeb;
}
#nav-top > div {
	width: 100%;
}
#nav-search {
	height: 4.9rem;
}
#nav-search_bar {
	width: fit-content;
	height: 100%;
	margin: auto;
	display: flex;
	flex-direction: row;
	border: 1px solid #ebebeb;
	border-radius: 4rem;
	padding: 0 1rem 0 1rem;
	box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
}
#nav-search_bar > button {
	height: 100%;
}
#nav-search_bar > button > div.nav-div {
	padding: 0 1.6rem 0 1.6rem;
	font-size: 1.4rem;
}
.nav-text1 {
	border-right: 0.15rem solid #ebebeb;
}
#nav-search_btn {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background: #ff385c;
	color: white;
	display: flex;
	align-items: center;
}
#nav-search_btn > svg {
	margin: auto;
	width: 1.2rem;
	height: 1.2rem;
}
#nav-info {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: end;
	align-items: center;
}
#nav-info > button {
	height: 4.2rem;
	padding: 0 1em 0 1em;
	border-radius: 40px;
}
#nav-info > button:hover {
	background: #ebebeb;
}
#nav-info-user_box {
	height: 4.2rem;
	display: flex;
	align-items: center;
	border: 1px solid #ebebeb;
	border-radius: 40px;
	margin-left: 10px;
	padding: 0 10px 0 10px;
}
#nav-info-user_box:hover {
	box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
}
#nav-info-user_box > button {
	color: grey;
}
#nav-user_profile {
	width: 3em;
	height: 3em;
	padding-left: 1em;
}
#nav-user_profile > path {
	width: 100%;
	height: 100%;
	padding-left: 1em;
}
.nav-text1 {
	font-size: 14px;
}
.nav-text2 {
	color: #6f6f6f;
	font-size: 14px;
}
#nav-bottom {
	height: 9.8rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 20px 8rem 0 8rem;
}
#nav-menu {
	width: max-content;
	height: 100%;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: repeat(19, min-content);
	column-gap: 4rem;
	overflow: hidden;
}
.menu-item {
	min-width: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.menu-item:hover {
	border-bottom: 2px solid #ebebeb;
}
.menu-item:hover > div.menu-item-text {
	color: black;
}
.menu-item > img {
	width: 2.4em;
	color: #6f6f6f;
}
.menu-item-text {
	width: max-content;
	font-size: 1.2rem;
	color: #6f6f6f;
	padding-top: 1rem;
}
#nav-menu-next_btn {
	width: fit-content;
	height: fit-content;
	padding: 0.8rem;
	margin-left: 2rem;
	border-radius: 50%;
	border: 0.1rem solid #ebebeb;
}
#nav-filter {
	width: max-content;
	height: 4.8rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border: 1px solid #ebebeb;
	border-radius: 10px;
	margin-left: 1em;
	padding: 10px;
}
#nav-filter > div {
	width: max-content;
	font-size: 1.2em;
	padding-left: 10px;
}

/*section*/
section {
	padding: 2rem 8rem;
	display: grid;
	grid-auto-rows: auto;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	row-gap: 4em;
	column-gap: 4em;
}
article {
	position: relative;
}
.heart {
	position: absolute;
	top: 1rem;
	right: 1rem;
}
article > img {
	width: 100%;
	height: 27rem;
	border-radius: 10px;
}
.article-content {
	display: flex;
	flex-direction: column;
	padding: 1rem 0;
}
.article-content > div {
	padding-bottom: 0.5rem;
}
.content-first {
	display: flex;
}
.content-destination {
	position: relative;
	left: 0px;
	font-weight: 600;
	font-size: 1.5rem;
}
.content-score {
	position: absolute;
	right: 0px;
}
.content-info {
	font-size: 1.4rem;
	color: var(--text);
}
.content-price {
	font-weight: 500;
	font-size: 1.4rem;
	padding-top: 0.5rem;
}
.content-score {
	display: flex;
	font-size: 1.4rem;
	color: black;
}
.content-score > svg {
	margin-left: 0.5rem;
}
article:hover .article-hover {
	display: block;
}
.next_image_btn,
.pre_image_btn {
	display: none;
	position: absolute;
	top: 12rem;
	background: white;
	opacity: 0.8;
	border-radius: 50%;
}
.next_image_btn > svg,
.pre_image_btn > svg {
	margin: auto;
}
.next_image_btn {
	width: 3rem;
	height: 3rem;
	right: 1rem;
}
.pre_image_btn {
	width: 3rem;
	height: 3rem;
	left: 1rem;
}

/*클릭 리스너*/
#nav-search_bar-click {
	position: absolute;
	display: none;
	width: 100%;
	height: 100vh;
	background: black;
	opacity: 0.2;
}
#nav-search_bar-click-menu {
	display: none;
	width: 100%;
	height: 8rem;
	position: absolute;
	top: 0px;
	background: white;
	overflow: hidden;
}
#nav-search_bar-click-menu > #nav-top {
	border: none;
}
#nav-search-click {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#nav-search-click > button {
	padding: 1rem 0;
	margin: 0 1.5rem;
}
.nav-click-text {
	font-size: 1.6rem;
}
#nav-search-click > button:hover {
	color: var(--text);
	border-bottom: 0.2rem solid var(--border);
}
#nav-bottom-click {
	height: 6.6rem;
}
#nav-bottom-click > div {
	width: 85rem;
	height: 100%;
	border: 1px solid var(--border);
	border-radius: 4rem;
	background: #f7f7f7;
	display: flex;
	flex-direction: row;
	margin: auto;
}
.nav-bottom-menu {
	width: 100%;
	border-radius: 4rem;
}
.nav-bottom-menu {
	padding: 0 3rem;
	text-align: left;
}
.nav-bottom-menu:hover {
	background: white;
}
.nav-bottom-menu-title {
	font-size: 1.2rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}
.nav-bottom-menu-text {
	color: var(--text);
	font-size: 1.4rem;
}
